
.container p {
    border: 1px solid white;
    padding: 100px;
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    width: 50%;
    margin-bottom: 10px;
    margin-left: 19%;
    font-size: xx-large;

}
a{
    text-align: center;
    color: rgb(81, 112, 112);
    font-size: xx-large;
    text-decoration: blueviolet;
}
a :hover{

    cursor: pointer;
    color: orangered;
}