

body{
    margin-left: 21%;

}
a.download :hover{
    cursor: pointer;
    color: #4070f4;
    background-color: #367380;
}


.photo{

    display: grid;
}

.head{
    margin-top: 9%;
    display: flex;
}

h2{
    color: #59A5D8;
}


form{
    
     width: 58rem;
    border-radius: 6px;
    padding: 14px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}




.pa-sc{

    margin-top: 10vh;
}


input{

    outline: none;
    font-size: 15px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 4vh;
}

.ligne input{

width: 35%;

}


button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
}
.button{
    height: 30px;
    
   
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #5e698a;
    
    }

button :hover{
    background-color :rgb(76, 30, 119);
    
    cursor: pointer;
}

h1{

    text-align: center;
    
}






/*
    DEMO STYLE
*/

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
