/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
  --Very--Dark--Blue: #133c55;
  --Dark-moderate-blue: #386fa4;
  --Moderate-blue: #59a5d8;
  --Soft-blue: #84d2f6;
  --Very-soft-cyan: #91e5f6;
  --white: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Soft-blue);
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

.sidebar {
  color: var(--white);
  background-color: #133c55;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  position: fixed;
  left: 0;
}

.logo {
  letter-spacing: 3;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu a {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.menu a:hover {
  color: var(--Very-soft-cyan);
}

.menu ion-icon {
  margin-right: 1rem;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  gap: 0.5rem;
  background-color: var(--Dark-moderate-blue);
  color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0.4rem;
}

.profile:hover {
  background-color: var(--white);
  color: var(--Dark-moderate-blue);
}

.image_RH {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 20%;
  /* Adjust to match the width of the sidebar */
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 370px;
  width: 100%;
  margin-left:10rem;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #4070f4;
}


.image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: #4070f4;
  padding: 3px;
  margin-bottom: 10px;
}

.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

.text-data .name {
  font-size: 22px;
  font-weight: 500;
}

.text-data .job {
  font-size: 15px;
  font-weight: 400;
}

.profile-card .media-buttons {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}

.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buttons .button {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.buttons .button:hover {
  background-color: #0e4bf1;
}

.profile-card .analytics {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.analytics .data {
  display: flex;
  align-items: center;
  color: #333;
  padding: 0 20px;
  border-right: 2px solid #e7e7e7;
}

.data i {
  font-size: 18px;
  margin-right: 6px;
}

.data:last-child {
  border-right: none;
}